# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.project
.classpath
.settings/

# VSCode
.vscode

# Maven files
target/
pom.xml.*
mvnw
mvnw.cmd
.gradle/
build/

# JavaFX Gradle plugin files
buildSrc/build/
buildSrc/.gradle/
buildSrc/out/

# Gradle files
.gradle/
gradle/
gradlew
gradlew.bat

#library
lib/
.classpath

.DS_Store
